/*
GERAL
*/

body {
    
    font-family: 'Work Sans', Helvetica, sans-serif;
    
    
}

h2,h3 {
    
    margin: 0;
    font-family: "Work Sans", Helvetica sans-serif;
    font-weight:600;
    color: black
     
}

/*
NAVEGAÇÃO
*/
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#32C0F9;
    text-align: center;
   
   
}

nav >a {
    text-decoration: none;
    color: white;
    font-size: 18px;
   
    
    
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
    
}

nav ul li {
    text-align: center;
    width: 100%;
    
}

nav ul li a {
    
    display: inline-block;
    padding: 4px 0;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 14px;
    
}

/*
CABEÇALHO:BEM-VINDO
*/

header {
    background-color: #32C0F9;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px; 
    color: white;
     
}


header p {
    
    margin: 2.5em;
    
}

header h1{
    
    font-weight: 500;
}

/*
SESSÃO SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 25px;
    
    
}

#sobre h2{
    font-size: 25px;
    color: #999999;
    font-weight: 500;
}

#sobre p{
    
    font-size: 15px;
    margin: 0.5em;
    max-width: 1000px;
    color: #999999;
    
}

#sobre img {
    
    margin-bottom: 25px;
    border-radius: 100px;
}

/*
PROJETOS
*/

#projetos {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#projetos h3 {
    
    margin-bottom: 60px;
    font-size: 25px;
    color: #999999;
    font-weight: 500;
}

#projetos img {
    
    width: 100%;
}

/*
FOOTER
*/

footer {
    
    text-align: center;
    padding: 10px;
    background-color: darkgray;
}

footer p{
    color: white;
    font-size: 15px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width:700px) {
    
    /*
    NAVEGAÇÃO
    */
    
    nav {
    
        flex-direction: row;
        justify-content: space-between;
        padding-top:5px;
        padding-left: 60px;
        padding-right: 60px;
        
        display:flex;
        
    }
    
    nav > a {
        
        flex-direction: row;
       
        width: 30%;
        background-color: black;
        max-width: 200px;
        
        
        
        
    } 

    nav ul {
        
        flex-direction: row; 
        justify-content: center;
        width: 60%;
        background-color: red;
        font-size: 20px;
        max-width: 400px;
        
       
        
    }
    
    
    /*
    BEM-VINDO
    */
   

    header {
        height: 600px;
        height: 70vh;
        justify-content: center;
        font-size: 1em;
    }
    
    
    /*
    SOBRE
    */

    #sobre {
        
        flex-direction: row;
        justify-content: center;
        
        height: 300px;
        height; 30vh;
        min-height: 250px;
     
        
        
        
    }
    
    #sobre >div {
       
        text-align: left;
        padding: 3em;
        background-color: white;
        max-width: 600px;
        
             
    }
    
    #sobre img {
        
        flex-direction: row;
        justify-content: flex-end;
        
        
    }
   
    
  
    
    #sobre h3{
        
        font-size: 18px;
        font-weight: 500;
        color:#32C0F9;
        margin: 5px;
        width: 50%;
        
    }
    
   
    
   
    
    /*
    PROJETOS
    */
    
    #projetos {
        
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #projetos h3 {
        
        width: 100%;
        text-align: center;
    }
    
    #projetos img {
        
       
        width: 200px;
    }

    #projetos div{
        
      min-width: 90vh; 
      
        
    }


}









